.center-content {
 
  grid-area: 1/2/1/3;
  background-color: #FAFAFA;

}


.centergrid {
  display: flex;
  flex-direction: column;

}

.stories {
  border: 1px solid rgb(182, 182, 182);
  width: 55%;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-top: 3%;
  margin-left: 25%;
  padding: 15px;
  overflow: scroll;
  overflow-y: hidden;
}

.collection-flex {
  display: flex;
  gap: 15px;
}

.scroll-content {
  border: 1px solid rgb(197, 197, 197);
  width: 55%;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-top: 3%;
  margin-left: 25%;
  min-height: 120vh;
  margin-bottom: 10px;
}

.collection-stories {
  border: 3px solid hsl(0, 100%, 70%);
  ;
  width: 55px;
  height: 55px;
  overflow: hidden;
  border-radius: 50%;

}

.scroll-profilepic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgb(182, 182, 182);
}


.scroll-profilepic img {
  width: 35px;
  height: 35px;
  border-radius: 50%;

}

.scroll-header {
  display: flex;
  gap: 14px;
  padding: 10px;
}

.three-dots {
  margin-left: auto;

}

.three-dots img {
  height: 16px;
  width: 17px;
}

.scroll-post {
  height: 60%;
}

.scroll-activity{
  height: 40%;
  display: flex;
  flex-direction: column;
}
.posttime{

  margin-top: 5px;
  margin-left: 24px;
}
.posttime span{
  font-size: 10px;
  color:RGB(147, 144, 144) ;
}

.line-color{
  color: white;
  margin-top: 15px;
  
}


.social-sharing, .likes-count, .description, .commant-count, .add-comment{
  width: 100%;
}

.social-sharing{
  padding: 10px;
  display: flex;
  gap: 20px;
  margin-left: 10px;
}

.imageSlider{
  // text-align: center;
  margin-left: 76px;
}

.savepost{
  margin-left: auto;
  margin-right: 15px;
}
.savepost img{
  height: 22px;
}

.likes-count{
  margin-left: 18px;
}

.description{
  display: flex;
  gap: 10px;
  margin-left: 19px;
  margin-top: 5px;

}

.add-comment{
  padding: 15px;
  display: flex;
  gap: 15px;
  color: RGB(142, 142, 142);


}
.insidePost{
  margin-left: auto;
}
.insidePost p{
   color: rgb(119, 119, 236);
   font-weight: 600;
}

.description h3{
  font-size: 14px;
  font-weight: 600;
}

.description p{
  font-size: 14px;
  font-weight: 400;
}

.description span{
  font-size: 14px;
  font-weight: 400;
  color: RGB(142, 142, 142);
}

.commant-count{
  margin-left: 21px;
  margin-top: 5px;
}

.commant-count span{
  font-size: 14px;
  color: RGB(142, 142, 142);
  font-weight: 400;

}

.scroll-post img{
  width: 100%;
  min-height: 650px;
}